<div *ngIf="users.length === 0" class="no-data">No Data available</div>

<table class="zui-table" *ngIf="users.length !== 0">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Payment Deadline</th>
      <th>Action</th>
      <th>Completed?</th>
    </tr>
  </thead>
  <tbody>
    <!-- TODO: Input table data here, loop it -->
    <tr
      *ngFor="let user of users; index as i"
      [ngClass]="user.isChecked ? 'striked' : ''"
      [ngStyle]="{
        'background-color':
          dateDifferenceAbs(user.paymentDeadline) <= 3 &&
          dateDifference(user.paymentDeadline) <= 0
            ? 'red'
            : '',
        color:
          dateDifferenceAbs(user.paymentDeadline) <= 3 &&
          dateDifference(user.paymentDeadline) <= 0
            ? 'white'
            : ''
      }"
    >
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ user.name }}
      </td>
      <td>
        {{ user.email }}
      </td>
      <td>
        {{ user.address.city }}, {{ user.address.province }},
        {{ user.address.zipcode }}
      </td>
      <td>
        {{ user.paymentDeadline | date }}
      </td>
      <td>
        <!-- TODO: Change to trash icon -->
        <!-- <img src="assets/" /> -->
        <button (click)="deleteUser(i)">Delete</button>
      </td>
      <td>
        <input
          type="checkbox"
          [(ngModel)]="user.isChecked"
          (change)="onChangeCheckbox(i, $event)"
        />
      </td>
    </tr>
  </tbody>
</table>
